name: Workflow Sanity

on:
  pull_request:
    paths:
      - ".github/workflows/**"
      - ".github/actionlint.yaml"
  push:
    branches: [main]
    paths:
      - ".github/workflows/**"
      - ".github/actionlint.yaml"

jobs:
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run actionlint
        uses: docker://rhysd/actionlint:1.7.11
